.footerArea {
    position: relative;
    width: 100%;
    background-color: #512DAB;
}

.ScrollToTop {
    z-index: 7;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 40px;
    height: 40px;
    background-color: #214C94;
}

.ScrollToTop::after {
    transition: top .3s;
    position: absolute;
    content: "";
    border-style: solid;
    display: inline-block;
    border-width: 10px;
    top: 5px;
    left: 10px;
    border-color: transparent transparent white transparent;
}

.ScrollToTop:hover::after {
    top: 0px;
}

.footerArea>p>span {
    display: block;
}

.footerArea>p img {
    width: 150px;
}

.footerArea>p {
    border-top: 2px dashed white;
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    margin-top: 30px;
    padding: 40px 0 20px 0;
    color: white;
    text-align: center;
}

.footerFirstLine {
    display: flex;
    justify-content: center;
    color: white;
    list-style: none;
}

div.footerFirstLine>li::after {
    content: "";
    right: -30px;
    top: 4px;
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: #fff;
}

.footerArea>p a {
    color: white;
}

.footerFirstLine>li>a,
.footerFirstLine>li>span {
    display: inline-block;
    margin-left: 8px;
}

.footerFirstLine>li {
    position: relative;
    margin-left: 70px;
    margin-top: 44px;
}

@font-face {
    src: url('../public/fonts/GilroyRegular.otf');
    font-family: MarkRegular;
}

.footerFirstLine>li>a,
.footerFirstLine>li>span,
.footerArea>p {
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-family: MarkRegular;
}

.footerFirstLine>li:first-child {
    margin-left: 0px;
}


/* mobile versia */

@media only screen and (max-width: 900px) {
    div.footerFirstLine>li::after {
        display: none;
    }
    .footerArea {
        padding: 10px 0;
        height: inherit;
    }
    .footerArea>ul {
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px dashed #ffffff;
    }
    .footerFirstLine {
        padding: 0;
        display: block;
    }
    .footerFirstLine>li {
        text-align: center;
        margin: 0;
        padding: 18px 0;
        margin-top: 0;
    }
    .footerArea>p {
        border: none;
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        padding-top: 17px;
    }
    .footerArea>p a {
        color: white;
    }
    .footerArea>p img {
        width: 100px;
    }
}